.text {
    text-align: center;
    margin-top: 56px;
    color: #fff;
    font-size: 1.0em;
    font-family: sans-serif;
    text-transform: uppercase;
}

.user{
        position: relative;
        top:7px;
    left: 4px;
        color: white;
         float: right;
}

.img{
        width: 50px;
        height: 50px;
    border-radius: 4em;

}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes rubberBand {
    0% {transform: scale(1);}
    30% {transform: scaleX(1.25) scaleY(0.75);}
    40% {transform: scaleX(0.75) scaleY(1.25);}
    60% {transform: scaleX(1.15) scaleY(0.85);}
    100% {transform: scale(1);}
}
.rubberBand {
    animation-name: rubberBand;
}


@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
body{
    background-image: url("img/7030767-3d-background-wallpaper.jpg");

}
.style{
    color:white;
}
.frm-login{
    width: 500px;
    height: auto;
    margin: auto;
    background-color: rgb(236, 240, 241);
}
.frm-head{
    height: 60px;
    background-color: rgb(52, 152, 219);
    box-shadow:0px 0px 2px 0px black;
}
.frm-body{
    margin: 10px 0 10px 5px;
    height: auto;
}
.frm-foot{
    padding: 10px;
    height: 50px;
    background-color: rgb(52, 152, 219);
}
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;
    color: #FFF;
    text-align: center;
}
.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}

.round.blue {
    background-color: #3EA6CE;
}