.text {
    text-align: center;
    margin-top: 56px;
    color: #fff;
    font-size: 1.0em;
    font-family: sans-serif;
    text-transform: uppercase;
}

.header{
    background-color: rgba(5, 9, 112, 0.7);
}

.body {
        background-color:  rgba(46, 46, 46, 0.71);
}

.glyphe {
     color:white;
}
/* bouton*/
.button {
    color:white;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .5em 2em .55em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
     background-color: rgba(5, 9, 112, 0.7);

}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
/*fin de la partie bouton */

/* Partie pour l'image de profil quand on et connecter  */
.user{
        position: relative;
        top: 5px;
        color: white;
}
/* Fin de la partie image profil*/

/*Partie pour la page admin*/
.article_admin{
    text-align: center;
    color: white;
    border-bottom: solid grey;
}
/*Fin de la partie pour la page admin*/

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes rubberBand {
    0% {transform: scale(1);}
    30% {transform: scaleX(1.25) scaleY(0.75);}
    40% {transform: scaleX(0.75) scaleY(1.25);}
    60% {transform: scaleX(1.15) scaleY(0.85);}
    100% {transform: scale(1);}
}
.rubberBand {
    animation-name: rubberBand;
}


@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
body{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.head{
    font-family: 'Bangers', cursive;
    font-size: 60px;
}


.titre{
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    color: #000000;
}


.article{
    font-family: 'Courgette', cursive;
    font-size: 20px;
}
.auteur{
    font-family: 'Coming Soon', cursive;
}
.style{
    color:white;
}
.frm-login{
    width: 500px;
    height: auto;
    margin: auto;
    background-color: rgb(236, 240, 241);
}
.frm-head{
    height: 60px;
    background-color: rgb(52, 152, 219);
    box-shadow:0px 0px 2px 0px black;
}
.frm-body{
    margin: 10px 0 10px 5px;
    height: auto;
}
.frm-foot{
    padding: 10px;
    height: 50px;
    background-color: rgb(52, 152, 219);
}
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;
    color: #FFF;
    text-align: center;
}
.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}

.round.blue {
    background-color: #3EA6CE;
}


/* caroussel */

.btn-vertical-slider{ margin-left:35px; cursor:pointer;}
a {  cursor:pointer;}
.carousel.vertical .carousel-inner .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 100%;
}

.carousel.vertical .prev {
    top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .active.left {
    top: -100%;
}

.carousel.vertical .active.right {
    top: 100%;
}

.carousel.vertical .item {
    left: 0;
}

/* fin caroussel */

/* Article du blog */

.outerpadding{
    padding:10% 0%;}
.boximg{
    position:relative;
    overflow:hidden;
}

.boximg img{
    transition:all ease-in 500ms;
    border:1px solid #fff;
}
.boximg img:hover{
    transform:scale(1.3,1.3);
    cursor:pointer;

}

.boximg:hover{
    border:1px solid #fff;
}

.boximg:hover .date{
    opacity:1;

}
.boximg:hover .likebut{
    opacity:1;

}

/* fin article blog */
